html {
  overflow: hidden;
}

#game-container {
  height: 100%;
}

#color-selector-container {
  display: flex;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  min-height: 40px;
  justify-content: center;
  align-items: center;
} 

.color-Selector {
  display: flex;
  min-width: 32px;
  min-height: 32px;
  border: 2px solid black;
  border-radius: 6px;
  cursor: pointer;
  margin: 3px;
  position: relative;
  bottom: 0;
  justify-content: center;
  align-items: center;
  transition: bottom ease 0.5s;
}

.color-Selector:hover {
  bottom: 10px;
}

.myButton {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}

        

